.loading{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	z-index:10000;
}
.loading img{
	width:32px;
	height:32px;
	z-index:10000;
}
.loading-off{
	display: none;
}

.loading-up{
	display: block;
}

.prevent{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:10000;
}
