.Tsdy-router{
	padding: 0;
	margin: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	border-top: 1px solid darkgray;
	box-sizing: border-box;
}
.Tsdy-router div{
	float:left;
	width: 4rem;
	height: 100%;
	line-height: 4rem;
	text-align: center;
}

.router{
	position: relative;
	transition: left .3s;
	width: 100%;
	top:3rem ;
}
.return {
	position:fixed;
	transition: left .3s;
	top: 1rem;
	margin-left: 1rem;
}
